<div class="button-row">
  <a mat-raised-button color="primary" (click)="bookDetails()">
    <mat-icon>show</mat-icon>
  </a>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" formControlName="id" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('id').valid && bookForm.get('id').touched">ID ENTER</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" formControlName="nombre" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('nombre').valid && bookForm.get('nombre').touched">Ingresar nombre</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sexo" formControlName="sexo" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('sexo').valid && bookForm.get('sexo').touched">Tipo de sexo</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Edad" formControlName="edad"
      [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!bookForm.get('edad').valid && bookForm.get('edad').touched">Please enter Book
        Description</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Estado civil" formControlName="estado_civil" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('estado_civil').valid && bookForm.get('estado_civil').touched">Please enter
        Publisher</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Telefono" formControlName="telefono" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('telefono').valid && bookForm.get('telefono').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Domicilio" formControlName="domicilio" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('domicilio').valid && bookForm.get('domicilio').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escolaridad" formControlName="escolaridad" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('escolaridad').valid && bookForm.get('escolaridad').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Correo" formControlName="correo" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('correo').valid && bookForm.get('correo').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apoyo solicitado" formControlName="apoyo_solicitado" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('apoyo_solicitado').valid && bookForm.get('apoyo_solicitado').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ocupacion" formControlName="ocupacion" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('ocupacion').valid && bookForm.get('ocupacion').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Lugar donde trabaja" formControlName="lugar_trabajo" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('lugar_trabajo').valid && bookForm.get('lugar_trabajo').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Puesto" formControlName="puesto" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('puesto').valid && bookForm.get('puesto').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Salario" formControlName="salario" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('salario').valid && bookForm.get('salario').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Otros Ingresos" formControlName="otros_ingresos" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('otros_ingresos').valid && bookForm.get('otros_ingresos').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Total de Ingresos Mensual" formControlName="total_ingresos" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('total_ingresos').valid && bookForm.get('total_ingresos').touched">Favor de ingresar
        Domicilio</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Observaciones" formControlName="observaciones"
      [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!bookForm.get('observaciones').valid && bookForm.get('observaciones').touched">Please enter Book
        Description</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha" formControlName="fecha" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('published_year').valid && bookForm.get('published_year').touched">Please enter
        Published Year</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="accent">
      Save Book
    </button>
  </div>
</form>